# Build output
bin/
obj/

# NuGet
*.user
*.nuget.props
*.nuget.targets

# Rider / VS
.idea/
.vs/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db

bpmonitor.db
bpmonitor.db-shm
bpmonitor.db-wal
bpmonitor.json

# Verify
*.received.*
